@import "../variable/color";
@import "../mixin/font";


.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0
}


nav {
  padding: 20px 0 !important;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  ul {
    padding-left: 60px !important;

    li {
      margin-right: 30px;

      a {
        font-size: 16px !important;
        font-weight: 600 !important;
        color: $black !important;
        transition: all linear .2s;

        &:hover {
          color: $primary !important;
        }
      }
    }
  }

  .action {
    padding-left: 0;

    li {
      margin-right: 10px;
    }

    li:last-child {
      margin-right: 0;
    }

    a {
      padding: 8px 14px;
      border-radius: 5px;
      font-weight: 500 !important;
      color: $white !important;

      &:hover {
        color: $white !important;
      }
    }

    a.call {
      background-color: $primary;
    }

    a.book {
      background-color: #543724;
    }
  }
}