@import "../variable/color";
@import "../mixin/font";


.query {
  padding-top: 100px;

  .query-bg {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    padding: 140px 0 50px 0;
    min-height: 399px;

    .text {
      h4 {
        @include font(48px, 700);
        text-transform: uppercase;
        line-height: 70px;
      }

      a {
        position: relative;
        display: inline-block;
        font-size: 17px;
        line-height: 24px;
        color: $white;
        background-color: $primary;
        padding: 20px 35px;
        font-weight: 600;
        border-radius: 32px 0 32px 32px;
        overflow: hidden;
        text-transform: capitalize;
        font-family: "Poppins", sans-serif;
        vertical-align: middle;
        box-shadow: 0px 15px 40px 0px rgba(32, 171, 148, 0.2);
        margin-top: 40px;

        i {
          padding-right: 8px;
        }
      }

      .shape-1 {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      .shape-2 {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
}