@import "../variable/color";
@import "../mixin/font";

.services {
  padding-top: 100px;

  .services-bg {
    background-color: #ECF8F4;
    padding: 80px 0;

    .services-item {
      width: 100%;
      background-color: $white;
      transition: all linear .2s;
      margin-bottom: 20px;

      .image {
        height: 210px;
        overflow: hidden;

        img {
          height: 100%;
          object-fit: contain;
          object-position: center;
          transition: all linear .2s
        }
      }

      &:hover {
        img {
          transform: scale(1.1) rotate(2deg);
        }

        box-shadow: 0px 40px 60px 0px rgba(0, 0, 0, 0.1)
      }

      .text {
        height: 78px;

        a {
          @include font(20px, 600);
          color: $white;
          background-color: $primary;
          padding: 24px;
          width: 100%;
          text-transform: capitalize;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .cleaning-services {
      .services-item {
        .image {
          height: 240px;
        }

        img {
          object-fit: cover;
        }
      }
    }
  }
}