@import "../variable/color";
@import "../mixin/font";


.why-chose-us {
  padding-top: 100px;

  .text {
    .info-box {
      width: 70%;
      background-color: $white;
      box-shadow: 0px 30px 60px 0px rgba(37, 59, 112, 0.1);
      border-radius: 20px;
      padding: 30px;
      margin-bottom: 50px;
      position: relative;
      overflow: hidden;

      &::after {
        width: 2px;
        height: 0%;
        background-color: $primary;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        content: "";
        transition: all linear .3s;
      }

      &:hover {
        &::after {
          height: 40%;
        }
      }


      &:last-child {
        margin-bottom: 0;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        z-index: 99;

        &::before {
          width: 100%;
          height: 100%;
          background-color: #21c58e;
          border-radius: 50%;
          left: 0;
          top: 0;
          content: "";
          position: absolute;
          transition: .5s ease-in-out;
          transform: scale(0);
          z-index: -1;
          opacity: 0;
        }

        i {
          width: 80px;
          height: 80px;
          background-color: rgba(33, 197, 142, 0.2);
          color: #21c58e;
          text-align: center;
          line-height: 80px;
          font-size: 32px;
          border-radius: 50%;
          transition: all linear .3s;
        }
      }

      .text {
        padding-left: 110px;

        h4 {
          @include font(24px, 400);
          padding-bottom: 14px;
        }
      }

      &:hover {
        i {
          color: $white;
        }

        .icon {
          &::before {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }

  .image {
    width: 100%;
    margin-left: auto;
    position: relative;

    img {
      border-radius: 30px;
    }

    .email {
      i {
        background-color: #e7b232;
      }

      a {
        position: absolute;
        right: -50px;
        bottom: 140px;
      }
    }

    .phone {
      a {
        position: absolute;
        left: 106px;
        bottom: -47px;

        i {
          background-color: $primary;
        }
      }
    }

    a {
      color: $white;
      font-size: 34px;

      i {
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        border-radius: 30px;
        transition: .3s;

        &:hover {
          border-radius: 50%;
        }
      }
    }

    .shape-1 {
      position: absolute;
      top: -40px;
      left: -40px;
      z-index: -1;
    }

    .shape-2 {
      position: absolute;
      bottom: -40px;
      right: -40px;
      z-index: -1;
    }
  }
}